fieldset {
    background-color: lightcoral;
    margin: auto;
    border-radius: 30px;
    border-color: darkred;
    width: 500px;

}
label {
    margin: 5px, 5px, 5px, 5px;
}
#dia {
    ali
}
.legend {
    color: brown;
}
form {
    margin: 0 auto;
}
