* {
    box-sizing: border-box;
    background-color: rgb(247, 245, 241);
    font-family: 'Montserrat', sans-serif;
}

label {
    display: block;
    cursor: pointer;
}

form {
    width: 500px;
    margin: auto;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="reset"]:hover {
    cursor: pointer;
}

li {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 20px;
}

div label {
    padding-left: 40px;
    padding-bottom: 20px;
    margin-top: -22px;
    font-size: 15px;
}

.marcas {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

select {
    width: 100%;
}

legend {
    text-align: center;
    font-weight: 700;
}

input.marcas {
    height: 20px;
}