body {

    background-color: #54aeff;

}
p {

    color:lightslategray;
}


img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    }

.cantante {

    background-color: white;
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid;
    border-color: rgb(241, 241, 241);
    padding: 10px 10px 10px 10px;
 
    
}

.text {
    display: block;
    line-height: 0pt; 
    position: fixed;
    margin: 15px 0px 0px 100px;
 

}
.lista {

    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 30%;
    width: 350px;
   

}