footer {
  background-color: rgba(31, 31, 31, 0.3);
  backdrop-filter: grayscale() blur(10px);
  font-family: Colibri;
  padding: 1%; 5%; 2%; 5%;
  
}
.contenedor {
  display: flex;

}
.legal {
  display: flex;
  width: 30%;
}
.informacion{
  display: flex;
  width: 40%;
}
.quienes-somos{
  display: flex;
  flex-direction: column;
  width: 30%;
}
p{
  margin-top: 0;
  margin-left: 10px;
}
.copyright {
  display: flex;
  
}