header {
  font-family: 'Radio Canada', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size: 50px;
  margin-bottom: -5px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  text-transform: uppercase;
  background-color: rgb(58, 58, 58);
}

li {
  float: left;
  width: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(80, 66, 66);
}

header {
  background-color: black;
}

body {
  background-color: rgba(165, 42, 42, 0.171);
}

footer {
  background-color: rgba(31, 31, 31, 0.3);
  backdrop-filter: grayscale() blur(10px);
  font-family: Colibri;
}

footer li {
  background-color: rgb(213, 218, 223);
}

.indice {
  display: flex;
  flex-direction: column;
  align-items: center;
}