h1 {
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
  padding-top: 20px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  text-transform: uppercase;
  background-color: rgb(34, 34, 34);
}

li {
  float: left;
  flex-grow: 1;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

header {
  background-color: black;
}

body {
  background-color: brown;
}

footer {
  background-color: purple;
}

.indice {
  display: flex;
  flex-direction: column;
  align-items: center;
}