body {
    background-color: #5B9EED;
}

.tbl {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 30px;
  }
  .row {
    display: flex;
    min-height: 50px;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
}
.row {
    display: flex;
    justify-content: flex-start;         
    align-items: center;             
  }
  .row .cell {
    padding: 5px;
    box-sizing: border-box;
  }
  img {
      max-height: 100px;
      border-radius: 100%;
      margin: 7px;
  }



  