header {
    background-image: url(https://cdn.pixabay.com/photo/2017/01/07/18/15/magi-1961149_960_720.png);
    background-attachment: fixed;
    background-size: contain;
    color: aqua;
    text-align: center;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: flex;
    float: left;
    padding: 0 10px;
}

#destinatario {
    text-align: right;
    display: flex;
    align-self: right;
}
