.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 146, 226);
    width: 1000px;
    height: 800px;
}

.contenedor div {
    background-color: white;
    width: 450px;
    height: 130px;

}

hr {
    width: 90%;
    border-top: 1px rgba(189, 182, 182, 0.801);

}

img {
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 150%;
    float: left;

}

img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

a:hover {
    filter: grayscale(80%);
}

div p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    color: rgba(175, 160, 160, 0.842);

}

span {
    font-weight: bold;
    color: black;
}