body {
    background-color: rgb(67, 126, 216);
}

div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 120px;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    box-shadow: 1px 1px;
}

.separador {
    margin-top: 100px;
}

img {
    display: flex;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 10px;
}

p {
    color: rgb(119, 119, 119);
    padding-left: 100px;
    margin-top: -10px;
}

h4 {
    padding-left: 100px;
    margin-top: -65px;
}