* {
    background-color: rgb(113, 209, 238);
}

#remitente {
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

h1, h2, h3 {
    text-align: center;
}
  
#conclusion {
    font-weight: bold ;
}
div {
    margin:5px 40px;
}