*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(50, 202, 202);
    flex-direction: column;
    margin: 100px;
    padding: 10px;
}