nav {
    background-color: #25259f;
    width: 100%;

}

header {
    background-color: #187b1882;




}

main {
    background-color: #760707;



}

.sidebar {
    background-color: rgba(105, 30, 105, 0.751);



}

footer {
    background-color: grey;
    width: 100%;

}

body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 30%;
    }

    main {
        width: 70%;
    }

}

@media screen and (min-width: 992px) {
            
            header {
                flex-wrap: nowrap;
                flex-basis: 70%;
            }
            main {
                flex-basis: 45%;

            }
            .sidebar {
                flex-basis: 25%;
            }
        
}