main {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: auto 5px;
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px rgb(213, 213, 213) solid;
}

div.networks p {
    display: flex;
    margin: auto 10px;
}

div.networks img {
    max-width: 50px;
}

audio {
    margin: 5% auto;
}

#personal-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    justify-content: space-between;
}

.full-stack {
    display: flex;
    margin-top: -30px;
}

.projects {
    border: 1px rgb(213, 213, 213) solid;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.projects a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px rgb(213, 213, 213) solid;

}

h1,
h2,
h3 {
    font-family: 'Noto Sans Mono', monospace;
}

p,
li {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

div.social-networks:hover,
.projects a:hover {
    cursor: pointer;
    box-shadow: 5px 0px 20px rgb(155, 155, 155);
    transition: box-shadow 0.5s ease-in-out;
}

@media screen and (min-width:768px) {
    #personal-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: auto;
    }

    .name {
        display: flex;
        margin-top: 2%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .full-stack {
        display: flex;
        justify-content: center;
    }

    div.name h1 {
        display: flex;
    }

    .networks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .substitule {
        margin: 50px 3px;
    }
}